.Rproj.user
.Rhistory
.RData
.Ruserdata
*~
*.aux
*.blg
*.toc
*.tmp
*.log
*.nav
*.dvi
*.out
*.snm
*.rds
*.bbl
*.synctex.gz
*_cache/
*_files/
auto
_region_.*
#*
.#*
*#
rhat_before_moving_to_tex.Rmd
rhat_before_moving_to_tex.tex
